<div>
  <a [routerLink]="['/Accueil']" routerLinkActive="active" >Accueil</a>
  <br/>
  <a [routerLink]="['/etudiants']" routerLinkActive="active" >Listes Etudiants</a>
  <br>
  <a [routerLink]="['/add_etudiant']" routerLinkActive="active" >Ajouter Etudiant</a>
  <br>
  <a [routerLink]="['/enseigants']" routerLinkActive="active" >Listes Enseignants</a>
  <br>
  <a [routerLink]="['/detail_etudiant']" routerLinkActive="active" >Details Etudiants</a>
  <br>
  <a [routerLink]="['/commande_resto']" routerLinkActive="active" >Commande Resto</a>

</div>
