<div class="d-flex justify-content-center align-items-center vh-100">
  <form class="border border-2 p-4 text-center bg-light rounded " style="width: 800px;">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputCode" placeholder="code" >
      <label for="floatingInputCode">Code</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputName" placeholder="nom">
      <label for="floatingInputName">Nom</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputprenom" placeholder="prenom">
      <label for="floatingInputprenom">Prenom</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Adresse Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputadresse" placeholder="adresse">
      <label for="floatingInputadresse">Adresse</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputtelephone" placeholder="telephone">
      <label for="floatingInputtelephone">Telephone</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputCodeClasse" placeholder="code_classe">
      <label for="floatingInputCodeClasse">Code Classe</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputcode_dept" placeholder="code_departement">
      <label for="floatingInputcode_dept">Code Departement</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
